.example {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-block: 1em;
    pre {
        margin: 0;
    }
}
.example-caption {
    font-size: 0.8em;
    color: var(--text-muted);
    padding: 0.4em 0.6em;
    border: 1px solid var(--code-border);
    border-bottom: none;
    border-radius: 0.35em 0.35em 0 0;
    background: var(--code-bg);
    display: inline-block;
}

.example-caption + pre:has(code) {
    border-top-left-radius: 0;
}

pre:has(code) {
    border: 1px solid var(--code-border);
    border-radius: 0.35em;
    overflow: auto;
    background: var(--code-bg);
    color: var(--code-color);
    display: inline-block;
    max-width: 100%;

    code {
       font-size: 0.8em;
       line-height: 1.6;
       display: inlin-block;
       background: none;
       color: inherit;
   }

   code:empty:before {
       content: '';
   }

   & > code {
       padding: 1em;
   }

   .linenums code {
       padding: 0 1em;
   }

   .linenums li:first-of-type code {
       padding-top: 1em;
   }

   code span.line {
       display: inline-block
   }
}
