$uniform_configs: (
    sizes: (
        pad: (
          3x: 3rem,
          4x: 4rem,
          8x: 8rem,
        ),
        space: (
          3x: 3rem
        ),
        margin: (
          4x: 4rem
        ),
        gap: (
          "1\\/2x" : 0.5rem,
        )
    ),
    colors: (
        "green": (
            "color": #00c964,
            "spectrum": true
        ),
        "orange": (
            "color": #ffad00,
            "spectrum": true
        ),
        "midnight": #415190,
        "dusk": (
            "color": #677395,
            "spectrum": true
        )
    )
);

@import "uniform";
@import "highlight";

*{
    box-sizing:border-box;
} 

html, body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;;
    line-height: 1.5;
    font-size: 14px;
    color: color('dusk-60');
    background: lighten(color('green-10'), 8);
}

.section{
    width:100%;
    padding: 100px 50px;
    background: white;
    & + & {
        border-top:2px dashed darken(white, 20);
    }
    pre:first-child{
        margin-top:0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        margin-top:1.5rem;
        margin-bottom:0.5rem;
        &:first-child{
            margin-top: 0;
        }
    }
    p, ul, ol {
        margin: 0.5em 0;
    }
}

h1 {
    color: color('dusk-80');
}

h2 {
    font-weight: 500;
    font-size: 1.3rem;
}

.side-nav{
    display: flex;
    flex-direction: column;
    align: center;
    font-size: 1.2em;
    position:fixed;
    overflow-y:scroll;
    width:250px;
    height: 100vh;
    top:0;
    left: 0;
    @media only screen and (max-width: 700px) {
        display: none;
    }
    .uniformNav {
        a {
            padding-left: 1em;
            border-left-width: 0.5em;
            color: color('dusk-60');
        }
        .active {
            background-color: rgba(var(--active-color), 0.15);
        }
    }
}

.main-content{
    margin-left:250px;
    @media only screen and (max-width: 700px) {
        margin-left: 0;
    }
}

.margin-auto {
    margin: auto;
}

.highlight{
    border-radius: 0.5em;
    overflow: auto;
    background: lighten(color('green-10'), 5);
    overflow-x: auto;
    pre{
        padding: 1em;
        &.tight{
            padding: 0.5em;
        }
    }
}
code{
    border-radius: 0.25em;
    color: color('green');
    background-color: rgba(color('green'), 0.1);
    padding: .15em 0.1em;
    font-size: 0.9em;
}
pre {
    code {
        color: inherit;
        background: none;
        padding: initial;
    }
}

komp-data-table,
komp-spreadsheet {
    --cell-padding: 0.5em 1em;
    gap: 1px;
    border-radius: 0.35em;
    komp-data-table-cell,
    komp-spreadsheet-cell,
    komp-spreadsheet-inputcell {
        background: white;
        &.header {
            font-weight: bold;
            text-transform: uppercase;
            background: rgb(248,248,251);
        }
    }

    komp-data-table-cell,
    komp-spreadsheet-cell {
        box-shadow: 0 0 0 1px color('purple-10');
    }
}

.custom-transition-fade {
    --transform: translateY(-10px);
    &.-in, &.-out {
        transition: transform 150ms, opacity 150ms;
    }
    &.-out, &.-in-start {
        opacity: 0;
        transform: var(--transform);
    }
    &.-top { --transform: translateY(-10px) }
    &.-bottom { --transform: translateY(10px) }
    &.-left { --transform: translateX(-10px) }
    &.-right { --transform: translateX(10px) }
    &.-away {
        &.-top { --transform: translateY(10px) }
        &.-bottom { --transform: translateY(-10px) }
        &.-left { --transform: translateX(10px) }
        &.-right { --transform: translateX(-10px) }
    }
}

.uniformButton {
    svg {
        transition: transform 100ms;
    }
    &.-active {
        svg {
            transform: rotate(180deg);
        }
    }
}

.animate {
    animation-duration: 150ms;
    animation-iteration-count: 1;
    &.-in {
        animation-name: fadein;
    }
    &.-out {
        animation-name: fadeout;
    }
    --transform: translateY(-10px);
    &.-top { --transform: translateY(-10px) }
    &.-bottom { --transform: translateY(10px) }
    &.-left { --transform: translateX(-10px) }
    &.-right { --transform: translateX(10px) }
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: var(--transform);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
        transform: none;
    }

    to {
        opacity: 0;
        transform: var(--transform);
    }
}

select.uniformInput, .uniformInputs select, .uniformInputs select {
    background-color: white;
}

option[value="null"] {
    font-style: italic;
}